// COLORS
$color-primary: #E9CAF2;

$color-pink-light: #EDDDF2;
$color-pink-light-2: #EDD0F6;
$color-pink-light-3: #F3E8FD;
$color-pink-light-4: #F0E5FB;
$color-pink-dark: #9369A0;
$color-pink-dark-2: #A589B4;
$color-pink-dark-3: #7B598E;

$color-grey: #7F7DA3;

// GRADIENTS
$text-gradient: radial-gradient(64.31% 64.31% at 88.04% 10.98%, #97C1FF 0%, #F9AEFF 100%);
$gradient-background: radial-gradient(100% 100% at 8.77% 0%, #86A7EA 0%, #E9BEEA 100%);
