// COLORS
$color-primary: #E9CAF2;

$color-pink-light: #EDDDF2;
$color-pink-light-2: #EDD0F6;
$color-pink-light-3: #F3E8FD;
$color-pink-light-4: #F0E5FB;
$color-pink-light-5: #FCF1FF;
$color-pink-light-6: #EBCCF6;
$color-pink-light-7: #D1C1F2;
$color-pink-light-8: #CEC2F2;
$color-pink-light-9: #E3D5F1;
$color-pink-light-10: #EDE1FA;
$color-pink-light-11: #EFC3FF;
$color-pink-light-12: #F2E6FA;
$color-pink-light-13: #DDCBF7;
$color-pink-light-14: #F8E6FF;
$color-pink-light-15: #F2E4F8;
$color-pink-light-16: #EDC4FA;
$color-pink-dark: #9369A0;
$color-pink-dark-2: #A589B4;
$color-pink-dark-3: #7B598E;

$color-grey: #7F7DA3;
$color-grey-2: #807FA4;
$color-grey-3: #4C4B61;

$color-blue: #97ADFF;
$color-blue-2: #B6B3EB;
$color-blue-light: lighten(#D3C5F4, 1%);

// GRADIENTS
$text-gradient: radial-gradient(64.31% 64.31% at 88.04% 10.98%, #97C1FF 0%, #F9AEFF 100%);
$gradient-background: radial-gradient(100% 100% at 8.77% 0%, #86A7EA 0%, #E9BEEA 100%);
